@using Veesy.Domain.Constants
@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


<div style="padding-top: 25px; padding-bottom: 25px;" >
    <div class="container-fluid p-3 mt-5 pb-5 background-image-about">
        <div class="row p-lg-5 mt-5 mt-lg-2">
            <div class="col-sm-12 col-md-6">
                <h3 style="color: white; font-size: 23px !important; line-height: 30px !important;">Lorem ipsum dolor sit amet consectetur<br/>Lorem ipsum dolor sit amet consectetur <br/>Lorem ipsum dolor sit amet consectetur<br/>Lorem ipsum dolor sit amet consectetur<br/>Lorem ipsum dolor sit amet consectetur<br/>Lorem ipsum dolor sit amet consectetur </h3>
                <div class="empty-veesy"></div>
                <div class="empty-veesy"></div>
                <div class="col-md-6 mb-4 veesy-text-color" >
                    <button class="contact-veesy rounded-pill btn btn-primary-about btn-variant" type="submit">join veesy</button>
                    <button class="contact-veesy rounded-pill btn btn-primary-about-variant btn-variant" style="margin-left: 20px;" type="submit">discover more</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="text-left mt-4">
            <h3 class="color-about" style="font-size: 23px !important; line-height: 25px !important;">Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h3>
        </div>
        <div class="text-center mt-4 mb-4">
            <img src="../imgs/SampleImg/Umberto_Gnocchi_Veesy_12-gigapixel-art-width-1500px-1024x576.jpg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
        <div class="text-left mt-4">
            <h6 class="color-about" style="font-size: 15px !important; line-height: 25px !important;">Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit  <br/> <br/> amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h6>
        </div>
        <div class="text-left mt-5">
            <h3 class="color-about" style="font-size: 23px !important; line-height: 25px !important;"><b>Lorem ipsum</b></h3>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-3 offset-md-3">
        <div class="text-center mt-2 mb-4">
            <img src="../imgs/SampleImg/AFA_Restomod-1024x576.jpg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center mt-2 mb-4">
            <img src="../imgs/SampleImg/AlienSceneRender_03_PP_8bit-1024x576.jpg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 offset-md-3">
        <div class="text-center mt-2 mb-4">
            <img src="../imgs/SampleImg/Night_1-1024x576.jpg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center mt-2 mb-4">
            <img src="../imgs/SampleImg/Lelievre-fabric01-gigapixel-standard-width-1500px-1024x576.jpeg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="text-left mt-4">
            <h6 class="color-about" style="font-size: 15px !important; line-height: 25px !important;">Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit  <br/> <br/> amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h6>
        </div>
        <div class="text-left mt-5 mt-2">
            <h3 class="color-about" style="font-size: 23px !important; line-height: 25px !important;"><b>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</b></h3>
        </div>
        <div class="text-center mt-4 mb-4">
            <img src="../imgs/SampleImg/Drill_Good-idea_06-copia-gigapixel-art-width-1500px-1024x691.jpeg" style="border-radius: 15px;" alt="Immagine" class="img-fluid">
        </div>
        <div class="text-left mt-5 mb-2">
            <h3 class="color-about"  style="font-size: 23px !important; line-height: 25px !important;"><b>Lorem ipsum</b></h3>
        </div>
        <div class="text-left mt-4">
            <h6 class="color-about"  style="font-size: 15px !important; line-height: 25px !important;">Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit  <br/> <br/> amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h6>
        </div>
        <div class="text-left mt-4 mb-5">
            <h3 class="color-about"  style="font-size: 23px !important; line-height: 25px !important;">Lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h3>
        </div>
    </div>
</div>

<div style="padding-bottom: 35px;">
  <div class="container-fluid p-lg-5 mt-3 pb-5 background-image-about-2">
    <div class="container mt-5 p-lg-5 p-2">
      <div class="row about-top d-flex flex-wrap">
        <div class="col-md-6 mb-3 mx-auto">
          <div class="blue-block rounded p-lg-5 p-4 option-height-about" style="background-color: #536B7E;">
            <h3 style="color: white; font-size: 25px !important; line-height: 30px !important;">Blocco are you a company o blocco investitori veesy</h3>
            <h5 style="font-size: 18px !important; line-height: 25px !important;" class="text-white mt-5">Lorem ipsum dolor sit amet consectetur<br/> dolor sit amet consectetur. Lorem ipsum dolor <br/>sit amet consectetur.</h5>
            <div class="empty-veesy"></div>
            <div class="col-md-12 mb-4 mt-5 veesy-text-color">
              <button class="rounded-pill btn btn-primary-about btn-variant" type="submit">view the form</button>
              <button class="rounded-pill btn btn-primary-about-variant btn-variant" style="margin-left: 20px;" type="submit">talk with us</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3 mx-auto">
          <div class="red-block rounded p-lg-5 p-4 option-height-about" style="background-color: #202F4D;">
            <h3 style="color: white; font-size: 25px !important; line-height: 30px !important;">Blocco are you a freelancer o work with us, opportunities</h3>
            <hr class="mt-4 mb-2 text-white">
            <h5 style="font-size: 16px !important;" class="text-white">Build multiple portfolios</h5>
            <hr class="mt-2 mb-2 text-white">
            <h5 style="font-size: 16px !important;" class="text-white">Lorem ipsum dolor sit amet consectetur.</h5>
            <hr class="mt-2 mb-2 text-white">
            <h5 style="font-size: 16px !important;" class="text-white">Lorem ipsum dolor sit amet consectetur.</h5>
            <hr class="mt-2 mb-2 text-white">
            <h5 style="font-size: 16px !important;" class="text-white">Lorem ipsum dolor sit amet consectetur.</h5>
            <hr class="mt-2 mb-2 text-white">
            <h5 style="font-size: 16px !important;" class="text-white">Lorem ipsum dolor sit amet consectetur.</h5>
            <hr class="mt-2 mb-4 text-white">
            <div class="col-md-12 mb-1 mt-4 veesy-text-color">
              <button class="rounded-pill btn btn-primary-about btn-variant" style="width: 30%;" type="submit">sign up</button>
              <a class="grey-link ms-2 mt-1 float-end">learn more <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pb-4">
    <div class="col-md-6 offset-md-3">
        <div class="text-left mt-4">
            <h3 class="color-about" style="font-size: 23px !important; line-height: 25px !important;"><b>Meet our investors or creators</b></h3>
        </div>
    </div>
</div>

<div class="row pb-5" style="cursor: pointer;">
    <div class="slider-about">
        @for (var i = 0; i < Model.MediaUser.Count; i++)
        {
            <a href="@Model.ApplicationUrl@Url.Action("Portfolio", "Public", new {area = "Public", id = @Model.PortfolioId[i]})">
                <div>
                    <img class="p-3" width="360px" height="260px" style="border-radius: 30px;" src="@Model.BasePath@Model.MediaList[i].ToString()">
                    <span class="empty-veesy"></span>
                    <div class="text-center">
                        <div class="d-flex align-items-center" style="margin-left: 20px;">
                            <img src="@Model.BasePathImages@Model.MediaUser[i]?tr=w-400" style="width: 30px !important; height: 30px !important; max-width: none!important;" class="img-thumbnail-custom rounded-circle" alt="user-image">
                            <span class="color-about" style="margin-left: 10px; font-size: 14px;">by @Model.Usernames[i].ToString()</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<!-- Aggiungi il collegamento a jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Aggiungi il collegamento a slick-carousel JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    // Inizializza il plugin slick-carousel
    $('.slider-about').slick({
        slidesToShow: 4, // Numero di immagini visibili contemporaneamente
        slidesToScroll: 1,
        focusOnSelect: true,
        variableWidth: true,
        infinite: false,
        centerPadding: 0
    });
</script>