@using Veesy.Domain.Constants
@model Veesy.Presentation.Model.Admin.CreatorsListViewModel
@{
    ViewData["Title"] = "Freelancer";
    Layout = "_Layout";
}
@section Style{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before, 
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before{
          bottom: .5em;
        }
    </style>
}

<div class="row">
    <div class="card">
        <div class="bg-white card-header">
            <div class="float-start">
                <h3>Creators list</h3>
            </div>
            <div class="float-end">
                <a class="btn btn-primary" onclick="ToggleTable()">Change view</a>
            </div>
        </div>
        <div class="card-body">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Email
                    </th>
                    <th class="th-sm">Phone
                    </th>
                    <th class="th-sm">Category
                    </th>
                    <th class="th-sm">Subscription Date
                    </th>
                    <th class="th-sm">Subscription
                    </th>
                    <th class="th-sm">Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model.FreelancerDtos)
                {
                    <tr>
                        <td>@user.Fullname</td>
                        <td><a href="mailto:@user.Email">@user.Email</a></td>
                        <td><a href="tel:@user.PhoneNumber">@user.PhoneNumber</a></td>
                        <td>@user.Category</td>
                        <td>@user.CreateDate</td>
                        <td><button type="button" class="btn @VeesyConstants.SubscriptionPlan.SubscriptionSpan[@user.SubscriptionPlan] m-1">@user.SubscriptionPlan</button></td>
                        <td>
                            <a style="cursor: pointer" asp-action="CreatorInfo" asp-controller="Admin" asp-route-id="@user.Code" class="bg-primary me-2 rounded-circle p-2 text-white d-inline-flex "><i class="ti ti-eye fs-4"></i></a>
                            <a style="cursor: pointer" onclick="openModal('#modalConfirmDeleteUser'), setUserIdToDelete('@user.Code')" class="bg-danger rounded-circle p-2 text-white d-inline-flex "><i class="ti ti-trash fs-4"></i></a>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
            <table id="dtBasicExample2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Fields
                    </th>
                    <th class="th-sm">Software
                    </th>
                    <th class="th-sm">Soft skill
                    </th>
                    <th class="th-sm">Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model.FreelancerDtos)
                {
                    <tr>
                        <td>@user.Fullname</td>
                        @{
                            var fields = "";
                            if (user.Fields.Count != 0)
                                fields = user.Fields.Aggregate((x, y) => x + ", " + y);
                        }
                        <td>@fields</td>
                        @{
                            var software = "";
                            if (user.Software.Count != 0)
                                software = user.Software.Aggregate((x, y) => x + ", " + y);
                        }
                        <td>@software</td>
                        @{
                            var softSkill = "";
                            if (user.SoftSkill.Count != 0)
                                softSkill = user.SoftSkill.Aggregate((x, y) => x + ", " + y);
                        }
                        <td>@softSkill</td>
                        <td>
                            <div class="d-flex">
                                <a style="cursor: pointer" asp-action="CreatorInfo" asp-controller="Admin" asp-route-id="@user.Code" class="bg-primary rounded-circle p-2 me-2 text-white d-inline-flex "><i class="ti ti-eye fs-4"></i></a>
                                <a style="cursor: pointer" onclick="openModal('#modalConfirmDeleteUser'), setUserIdToDelete('@user.Code')" class="bg-danger rounded-circle p-2 text-white d-inline-flex "><i class="ti ti-trash fs-4"></i></a>
                            </div>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmDeleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-color" id="exampleModalLongTitle"><strong>Delete account</strong></h3>
                <a onclick="closeModal('#modalConfirmDeleteUser')"><i class="fa-solid fa-grey fa-circle-xmark"></i></a>
            </div>
            <div class="empty-veesy"></div>
            <div class="modal-body text-center">
                <h5 id="confirm-delete-body">
                    Are you sure to delete this user?
                </h5>
                <div class="empty-veesy"></div>
                <button onclick="DeleteUser()" class="mt-2 rounded-pill btn btn-padding btn-danger a-font-p" type="submit">yes, remove</button>
            </div>
            <div class="empty-veesy"></div>
        </div>
    </div>
</div>

@section Scripts
{
      
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
    
        let userId = ''
        
        function setUserIdToDelete(id) {
            userId = id
        }
        
        function DeleteUser(){
            $('#load-spinner').css("display", "block");
        
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteAccount", "Profile", new {area = "Account"})',
                data: JSON.stringify(userId),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if(response.result){
                        location.reload()
                    }
                    $('#load-spinner').css("display", "none");
                },
                error: function (response) {
                    $('#load-spinner').css("display", "none");
                }
            })
        }
    
        let FirstTableDisplay = document.getElementById("dtBasicExample").style.display
        let SecondTableDisplay = document.getElementById("dtBasicExample2").style.display
        
        function ToggleTable() {
            document.getElementById("dtBasicExample_wrapper").style.display = document.getElementById("dtBasicExample_wrapper").style.display == "none" ? "block" : "none"
            document.getElementById("dtBasicExample2_wrapper").style.display = document.getElementById("dtBasicExample2_wrapper").style.display == "none" ? "block" : "none"
        }
    
        $(document).ready(function () {
          $('#dtBasicExample').DataTable();
          $('.dataTables_length').addClass('bs-select');
        });
        $(document).ready(function () {
          $('#dtBasicExample2').DataTable();
          $('.dataTables_length').addClass('bs-select');
          document.getElementById("dtBasicExample2_wrapper").style.display = "none"
        });
    </script>
}
