@using Veesy.Domain.Constants
@model Veesy.Presentation.Model.Admin.CreatorViewModel
@{
    ViewData["Title"] = "Freelancer";
    Layout = "_Layout";
}

@section Style
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
}

<div class="row mb-4">
    <h3>Utente:<i> @Model.User.Fullname</i></h3>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <p><strong>Email: </strong>@Model.User.Email</p>
            <p><strong>Username: </strong>@Model.User.UserName</p>
            <p><strong>Phone Number: </strong>@Model.User.PhoneNumberPrefix @Model.User.PhoneNumber</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p><strong>Subscription: </strong>@Model.User.MyUserSubscriptionPlans.LastOrDefault().SubscriptionPlan.Name</p>
            <p><strong>Category: </strong>@Model.User.Category</p>
            <p><strong>Created date: </strong>@Model.User.CreateDate.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
        <div class="col-sm-12 col-md-6"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col-8">
                <h5 class="card-title mb-9 fw-semibold">Media number</h5>
                <h4 class="fw-semibold mb-3">@Model.Medias.Count</h4>
                <div class="d-flex align-items-center pb-1">
                  <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-arrow-down-right text-danger"></i>
                  </span>
                  <p class="text-dark me-1 fs-3 mb-0">@(@Model.Medias.Count * 100 / Model.User.MyUserSubscriptionPlans.LastOrDefault().SubscriptionPlan.AllowedMediaNumber)%</p>
                  <p class="fs-3 mb-0">of plan</p>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-end">
                  <div class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                    <i class="ti ti-photo fs-6"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col-8">
                <h5 class="card-title mb-9 fw-semibold">Cloud size</h5>
                <h4 class="fw-semibold mb-3">@(Model.Medias.Sum(s => s.Size) / (1024 * 1024))Mb </h4>
                <div class="d-flex align-items-center pb-1">
                  <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-arrow-down-right text-danger"></i>
                  </span>
                  <p class="text-dark me-1 fs-3 mb-0">@((Model.Medias.Sum(s => s.Size) / (1024 * 1024)) * 100 / Model.User.MyUserSubscriptionPlans.LastOrDefault().SubscriptionPlan.AllowedMegaByte)%</p>
                  <p class="fs-3 mb-0">of plan</p>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-end">
                  <div class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                    <i class="ti ti-weight fs-6"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-12 col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col-8">
                <h5 class="card-title mb-9 fw-semibold">Profile</h5>
                <h4 class="fw-semibold mb-3">@Model.ElemProfileCompiled</h4>
                <div class="d-flex align-items-center pb-1">
                  <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                    <i class="ti ti-arrow-down-right text-danger"></i>
                  </span>
                  <p class="text-dark me-1 fs-3 mb-0">@Model.ProfilePercentCompiled%</p>
                  <p class="fs-3 mb-0">of profile</p>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-end">
                  <div class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                    <i class="ti ti-list-details fs-6"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="card ms-2 me-2">
        <div class="card-header bg-white">
            <div>
                <h3>Portfolio Analysis</h3>
            </div>
        </div>
        <div class="card-body">
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Is main
                    </th>
                    <th class="th-sm">Link
                    </th>
                    <th class="th-sm">Number media
                    </th>
                    <th class="th-sm">Create Date
                    </th>
                    <th class="th-sm">Last edit
                    </th>
                    <th class="th-sm">Visibility
                    </th>
                    <th class="th-sm">Status
                    </th>
                    <th class="th-sm">Action
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Portfolios)
                {
                    <tr id="portfolio-@item.Id">
                        <td>@item.Name</td>
                        <td>
                            @if (item.IsMain)
                            {
                                <span class="me-2 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-check text-success"></i>
                                </span>
                            }
                            else
                            {
                                <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-x text-danger"></i>
                                </span>
                            }
                        </td>
                        <td><a style="cursor: pointer" asp-area="Public" asp-controller="Public" asp-action="Portfolio" asp-route-id="@item.Id">View portfolio</a></td>
                        <td>@item.PortfolioMedias.Count</td>
                        <td>@item.CreateRecordDate.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.LastEditRecordDate.ToString("dd/MM/yyyy HH:mm")</td>
                        @{
                            var visibility = @item.IsPublic ? "public" : "private";
                        }
                        <td>@visibility</td>
                        @{
                            var status = @item.Status == PortfolioContants.STATUS_DRAFT ? "draft" : "publish";
                        }
                        <td>@status</td>
                        <td><a style="cursor: pointer" onclick="openModal('#modalDeletePortfolio'), setPortfolioIdAndText('@item.Id', '@item.Name')" class="bg-danger rounded-circle p-2 text-white d-inline-flex "><i class="ti ti-trash fs-4"></i></a></td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card ms-2 me-2">
        <div class="card-header bg-white">
            <div class="card-title">
                <div class="d-flex justify-content-between">
                    <h3>Media Analysis</h3>
                    <a style="cursor: pointer" onclick="openModal('#modalConfirmDeleteMedia')" class="bg-danger rounded p-2 text-white d-inline-flex "><i class="ti ti-trash pt-1 pe-2"></i>Delete medias</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="dtBasic2" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Select
                    </th>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Link
                    </th>
                    <th class="th-sm">Media size
                    </th>
                    <th class="th-sm">Upload Date
                    </th>
                    <th class="th-sm">Last edit
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Medias)
                {
                    <tr id="media-@item.Id">
                        <td>
                            <input type="checkbox" id="selectable-@item.Id" onclick="TriggerSelectMedia('@item.Id')"/>
                        </td>
                        <td>@item.OriginalFileName</td>
                        <td><a style="cursor: pointer;" class="text-primary" onclick="OpenImageNewTab('@Url.Action("SingleMedia", "Cloud", new { area = "Portfolio", id = @item.Id })')">View media</a></td>
                        @if (item.Size / (1024 * 1024) == 0)
                        {
                            <td>@(item.Size / (1024)) Kb</td>
                        }
                        else
                        {
                            <td>@(item.Size / (1024 * 1024)) Mb</td>
                        }
                        <td>@item.CreateRecordDate.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.LastEditRecordDate.ToString("dd/MM/yyyy HH:mm")</td>
                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmDeleteMedia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-color" id="exampleModalLongTitle"><strong>Delete medias</strong></h3>
                <a onclick="closeModal('#modalConfirmDeleteMedia')"><i class="fa-solid fa-grey fa-circle-xmark"></i></a>
            </div>
            <div class="empty-veesy"></div>
            <div class="modal-body text-center">
                <h5 id="confirm-delete-body">
                    Are you sure to delete this medias?
                </h5>
                <div class="empty-veesy"></div>
                <button onclick="DeleteMedia()" class="mt-2 rounded-pill btn btn-padding btn-danger a-font-p" type="submit">yes, remove</button>
            </div>
            <div class="empty-veesy"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeletePortfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-color" id="exampleModalLongTitle"><strong>Delete Portfolio</strong></h3>
                <a onclick="closeModal('#modalDeletePortfolio')"><i class="fa-solid fa-grey fa-circle-xmark"></i></a>
            </div>
            <div class="empty-veesy"></div>
            <div class="modal-body text-center">
                <h5 id="confirm-delete-portfolio"></h5>
                <div class="empty-veesy"></div>
                <button onclick="DeletePortfolio()" class="mt-2 rounded-pill btn btn-danger a-font-p" type="submit">yes, delete</button>
            </div>
            <div class="empty-veesy"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script>
        
        let portfolioId
        function setPortfolioIdAndText(id, name){
            portfolioId = id
            document.getElementById("confirm-delete-portfolio").textContent = "The portfolio " + name + " will be delete permanently. Are you sure?";
        }
        
        let portfolioIdMain
        function setPortfolioIdForMain(id){
            portfolioIdMain = id
        }
        
        function DeletePortfolio() {
            $('#load-spinner').css("display", "block");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Portfolio")',
                data: JSON.stringify(portfolioId),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if(response.result){
                        document.getElementById("portfolio-" + portfolioId).remove();
                        closeModal('#modalDeletePortfolio')
                    }
                    $('#load-spinner').css("display", "none");
                },
                error: function (response) {
                    $('#load-spinner').css("display", "none");
                }
            })
        }
        
        let img_selected_id = [];
        
        function TriggerSelectMedia(id) {
            if (document.getElementById("selectable-" + id).checked)
                img_selected_id.push(id);
            else 
                removeMediaFromList(id);
        }
        
        function removeMediaFromList(value){
            const index = img_selected_id.indexOf(value);
            if (index > -1) { // only splice array when item is found
              img_selected_id.splice(index, 1); // 2nd parameter means remove one item only
            }
        }
        
        function DeleteMedia() {
            $('#load-spinner').css("display", "block");
            var data = [];
            for (const code in img_selected_id) {
                data.push(img_selected_id[code])
            }
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteMediaList", "Media", new {area = "Portfolio"})',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if(response.result){
                        for (let i = 0; i<response.codeToDelete.length; i++){
                            document.getElementById("media-" + response.codeToDelete[i]).remove()
                        }
                        img_selected_id = []
                    }
                    else{
                        toastNotifyCustom(response.message, 10000, "#ca0a0a", "")
                    }
                    closeModal('#modalConfirmDeleteMedia');
                    $('#load-spinner').css("display", "none");
                },
                error: function (response) {
                    $('#load-spinner').css("display", "none");
                }
            })
        }
    
        $(document).ready(function () {
          $('#dtBasicExample').DataTable();
          $('.dataTables_length').addClass('bs-select');
        });
        $(document).ready(function () {
          $('#dtBasic2').DataTable();
          $('.dataTables_length').addClass('bs-select');
        });
        
        function OpenImageNewTab(url) {
            window.open(url, '_blank');
        }   
    </script>
}