@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Veesy.Presentation.Model.Portfolio.PortfolioListViewModel

@{
    ViewData["Title"] = "Portfolios";
}
<div class="padding-lg pt-7rem">
    <div class="row  pt-4 p-4-lg">
    <div class="col-sm-12 col-md-3 mb-3">
        <nav class="breadcrumb-container" aria-label="Percorso di navigazione">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><img class="home-img me-2"><a class="a-font-p breadcrumb-a me-2" asp-action="Index" asp-area="Portfolio" asp-controller="Home">desk</a><img class="icon-svg-derein-option"></li>
                <li class="breadcrumb-item"><a class="breadcrumb-a a-font-p" href="#"><strong>portfolios</strong></a></li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="text-color"><strong>Portfolios</strong></h2>
      <p class="mb-0">Build and customize multiple portfolios with just a few clicks, tailoring each one to different client needs or project types. Share them instantly with clients and collaborators, showcasing your skills and versatility with ease. <a class="grey-link ms-2"><strong style="display: none">learn more <i class="fa-solid fa-arrow-up-right-from-square"></i></strong></a></p>
        <div class="empty-veesy"></div>
        @if (Model.PortfolioThumbnailDtos != null)
        {
            @foreach (var item in Model.PortfolioThumbnailDtos)
            {
                <div id="portfolio-div-@item.Code">
                    <hr style="margin-top: 20px; margin-bottom: 20px;" class="color-hr"/>
                    <div class="d-flex">
                        <div class="col-4">
                            <div class='box m-0'>
                                <div class='content1_1'>
                                    @if (item.IsVideo)
                                    {
                                        <video autoplay="autoplay" muted loop class="image-fit-radius" title="@item.DefaultImageOriginalName">
                                            <source src="@Model.BasePath@item.DefaultImageName?tr=w-400" type="video/mp4">
                                        </video>
                                    }
                                    else
                                    {
                                        if (item.DefaultImageName == "")
                                        {
                                            <img class="image-fit-radius" src="~/imgs/noimage.png"/>
                                        }
                                        else
                                        {
                                            <img class="image-fit-radius" title="@item.DefaultImageOriginalName" src="@Model.BasePath@item.DefaultImageName?tr=w-400"/>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-4 vertical-space">
                            @{
                                var iconBack = "fa-regular";

                                if (item.IsMain)
                                {
                                    iconBack = "fa-solid";
                                }
                            }
                            <div>
                                <h5 style="font-size: 20px !important; line-height: 27px;"><a onclick="openModal('#modalMainPortfolio'), setPortfolioIdForMain('@item.Code')"><i id="new-main-@item.Code" style="color: #75CCDD" class="@iconBack icon-main-portfolio fa-star me-2"></i></a><strong class="text-color">@item.Name</strong></h5>
                                <div class="empty-veesy"></div>
                                <p class="veesy-text-color" style="margin-bottom: 3rem">Updated on @item.LastUpdate<br/>@item.NumberMedia media uploaded</p>
                            </div>
                            <a target="_blank" asp-action="PortfolioPreview" asp-controller="Portfolio" asp-area="Portfolio" asp-route-id="@item.Code" asp-route-open="@false" class="grey-link">Preview<i class="fa-solid fa-arrow-up-right-from-square ms-2"></i></a>
                        </div>
                        <div class="col-4 text-end vertical-space">
                            <a onclick="CopyLink('@Model.ApplicationUrl@Url.Action("Portfolio", "Public", new { area = "Public", user = @item.FullnameForUrl, portfolioname = @item.PortfolionameForUrl })')" class="grey-link ms-2"><i class="fa-regular fa-clone pe-1"></i><strong>Copy link</strong></a>
                            <div style="margin-top: 5.3rem; align-items: flex-end" class="d-flex justify-content-between">
                                @{
                                    var visibility = @item.IsMain ? "hidden" : "visible";
                                }

                                <a class="grey-danger-link mt-2" onclick="openModal('#modalDeletePortfolio'), setPortfolioIdAndText('@item.Code', '@item.Name')" style="visibility: @visibility">delete</a>
                                <form method="get" asp-action="Settings" asp-route-id="@item.Code">
                                    <button type="submit" class="rounded-pill btn-padding-20 btn btn-primary mt-2 a-font-p"><i class="fa-regular a-font-p fa-pen-to-square pe-1"></i>edit portfolio</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <hr style="margin-top: 20px; margin-bottom: 20px;" class="color-hr"/>
        <div class="empty-veesy"></div>
        <form method="get" asp-action="List" asp-controller="Cloud">
            <button type="submit" class="rounded-pill btn btn-primary a-font-p mt-2 btn-padding">create new portfolio</button>
        </form>
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
        <div class="empty-veesy my-4"></div>
    </div>
    <div id="doYouNeedSomeHelpPopup" class="col-sm-12 col-md-3 pe-0">
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
        <div class="d-flex justify-content-end ps-3">
            <div class="w-75-veesy card-blue-veesy">
            <div class="text-end"><i onclick="closeDoYouNeedSomeHelp()" class="fa-solid fa-x fa-2xs" style="color: #ffffff; cursor: pointer;"></i></div>
                <p class="mb-0 text-white">Do you need some help?</p>
                <a class="a-ciano-underline" href="mailto:support@veesy.it">Contact us</a>
            </div>
        </div>
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
    </div>
</div>
</div>
<div class="modal fade" id="modalDeletePortfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-color" id="exampleModalLongTitle"><strong>Delete Portfolio</strong></h3>
                <a onclick="closeModal('#modalDeletePortfolio')"><i class="fa-solid fa-grey fa-circle-xmark"></i></a>
            </div>
            <div class="empty-veesy"></div>
            <div class="modal-body text-center">
                <h5 id="confirm-delete-body"></h5>
                <div class="empty-veesy"></div>
                <button onclick="DeletePortfolio()" class="mt-2 rounded-pill btn btn-delete a-font-p" type="submit">yes, delete</button>
            </div>
            <div class="empty-veesy"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMainPortfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-color" id="exampleModalLongTitle"><strong>Main portfolio</strong></h3>
                <a onclick="closeModal('#modalMainPortfolio')"><i class="fa-solid fa-grey fa-circle-xmark"></i></a>
            </div>
            <div class="empty-veesy"></div>
            <div class="modal-body text-center text-color">
                <h5 id="confirm-main-body">Are you sure you want to make this your featured portfolio?</h5>
                <div class="empty-veesy"></div>
                <button onclick="ChangeMainPortfolio()" class="mt-2 rounded-pill btn btn-primary a-font-p" type="submit">yes, set it</button>
            </div>
            <div class="empty-veesy"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        function closeDoYouNeedSomeHelp() {
          var popup = document.getElementById('doYouNeedSomeHelpPopup');
          popup.style.display = 'none';
        }

        let portfolioId
        function setPortfolioIdAndText(id, name){
            portfolioId = id
            document.getElementById("confirm-delete-body").textContent = "The portfolio " + name + " will be delete permanently. Are you sure?";
        }
        
        let portfolioIdMain
        function setPortfolioIdForMain(id){
            portfolioIdMain = id
        }
        
        function DeletePortfolio() {
            $('#load-spinner').css("display", "block");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Portfolio")',
                data: JSON.stringify(portfolioId),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if(response.result){
                        document.getElementById("portfolio-div-" + portfolioId).style.display = "none";
                        closeModal('#modalDeletePortfolio')
                    }
                    $('#load-spinner').css("display", "none");
                },
                error: function (response) {
                    $('#load-spinner').css("display", "none");
                }
            })
        }
        
        function ChangeMainPortfolio() {
            var Id = portfolioIdMain
            var IsMain = true
            var portfolioDto = {Id, IsMain}
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetMainPortfolio", "Portfolio")',
                data: JSON.stringify(portfolioDto),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if(response.result){
                        //document.getElementById("portfolio-main-text").textContent = "This portfolio is set as your main";
                        //document.getElementById("portfolio-main-text").classList.remove("grey-link")
                        var icons = document.getElementsByClassName("icon-main-portfolio");
                        for (let i = 0; i < icons.length; i++){
                            icons[i].classList.remove("fa-solid")
                            icons[i].classList.add("fa-regular")
                        }
                        document.getElementById("new-main-" + Id).classList.add("fa-solid")
                        closeModal('#modalMainPortfolio')
                    }
                    $('#load-spinner').css("display", "none");
                },
                error: function (response) {
                    $('#load-spinner').css("display", "none");
                }
            })
        }
    </script>
}
