@using Veesy.Domain.Constants
@model Veesy.Presentation.Model.Portfolio.PortfolioSettingsViewModel

@{
    ViewData["Title"] = "Portfolio Settings";
}

<div class="row pt-7rem">
    <div class="col-sm-12 col-md-3 mb-3">
        <nav class="breadcrumb-container" aria-label="Percorso di navigazione">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><img src="~/imgs/dashboard_home_light-mode.png" style="width: 18px; margin-top: -5px;" class="me-2"><a class="breadcrumb-a me-2" asp-action="Index" asp-area="Portfolio" asp-controller="Home">dashboard</a><i class="fa-solid fa-chevron-right"></i></li>
                <li class="breadcrumb-item"><a class="breadcrumb-a" href="#"><strong>portfolio</strong></a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-a" href="#"><strong>settings</strong></a></li>
            </ol>
        </nav>
        <div class="w-80-veesy card-white-veesy p-3 mb-3">
            <div class="d-flex">
                <div class="col-11">
                    <p class="ms-2"><strong>@User.Identity.Name's Portfolio</strong></p>
                </div>
                <div class="col-1"><div class="text-end"><i class="fa-solid fa-circle fa-xs" style="color: #202F4D;"></i></div></div>
            </div>
            <div class="d-flex mb-3">
                <div class="col-12">
                    <div class="text-left">
                        @if (!Model.Portfolio.PortfolioMedias.Any())
                        {
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrVmYaV8ReWhTf5aMtZgkI__Mf9iCStzIShCMY-EzO-s05kD81VTb5ZtLnz5CiqB1LXu4&usqp=CAU" class="img-thumbnail rounded-circle" alt="user-image" style="max-width: none!important; width: 60px !important; height: 60px !important;">
                        }
                        else
                        {
                            <img src="@Model.BasePathImages@Model.Portfolio.PortfolioMedias.First().Media.FileName" style="width: 60px !important; height: 60px !important; max-width: none!important; " class="img-thumbnail-custom rounded-circle" alt="user-image">
                        }
                    </div>
                </div>
            </div>
            <div class="d-flex"><p class="mb-0">Updated on @Model.Portfolio.LastEditRecordDate</p></div>
            <div class="d-flex"><p class="mb-0 veesy-overflow">@Model.Portfolio.PortfolioMedias.Count media uploaded</p></div>
            <div class="d-flex"><p class="mb-0 veesy-overflow">2 images (TODO)</p></div>
            <div class="d-flex"><p class="mb-0 veesy-overflow">8 videos (TODO)</p></div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2 class="text-color"><strong>@User.Identity.Name's Portfolio</strong></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a class="grey-link ms-2"><strong>learn more <i class="fa-solid fa-arrow-up-right-from-square"></i></strong></a></p>
        <div class="empty-veesy"></div>
        <h3 class="text-color"><strong>Main Settings</strong></h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 ps-2 pe-2">
                <hr class="hr"/>
                <div class="d-flex">
                    @if (string.IsNullOrEmpty(Model.Portfolio.Name))
                    {
                        <div class="col-9">
                            <p class="mb-0"><strong>Portfolio Name:</strong></p>
                            <p class="mb-0">Information missing</p>
                        </div>
                        <div class="col-3 text-end"><a onclick="openModal('#modalPortfolioName')" class="red-link"><i class="fa-regular fa-pen-to-square pe-1"></i><strong>add info</strong></a></div>
                    }
                    else
                    {
                        <div class="col-9 profile-section">
                            <p class="mb-0"><strong>Portfolio Name:</strong></p>
                            <p class="mb-0 veesy-overflow">@Model.Portfolio.Name</p>
                        </div>
                        <div class="col-3 text-end"><a onclick="openModal('#modalPortfolioName')" class="grey-link"><i class="fa-regular fa-pen-to-square pe-1"></i><strong>edit</strong></a></div>
                    }
                </div>
                <hr class="hr"/>
                <div class="d-flex">
                    <div class="col-9">
                        <p class="mb-0"><strong>Main Portfolio:</strong></p>
                        <p class="mb-0 veesy-overflow">This portfolio is set as your main</p>
                    </div>
                    @* <div class="col-3 text-end"><a onclick="openModal('#modalExternalLink')" class="red-link"><i class="fa-regular fa-pen-to-square pe-1"></i><strong>add info</strong></a></div> *@
                </div>
                <hr class="hr"/>
            </div>
        </div>
        <div class="empty-veesy"></div>
        <div class="row">
            <h3 class="text-color"><strong>Select layout</strong></h3>
            @foreach (var layout in VeesyConstants.GetAvailableLayouts())
            {
                @:TODO: mostrare i Layout
            }
        </div>
        <div class="empty-veesy"></div>
        <div class="row">
            <h3 class="text-color"><strong>Your Images</strong></h3>
            TODO mostrare immagini del portfolio
        </div>
        <div class="empty-veesy"></div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="d-flex justify-content-center">
            <div class="w-75-veesy card-blue-veesy p-3">
                <div class="text-end"><i class="fa-solid fa-circle fa-2xs" style="color: #ffffff;"></i></div>
                <p class="mb-0" style="color: white">Do you need some help?</p>
                <a class="a-ciano-underline" href="mailto:support@veesy.it">Contact us</a>
            </div>
        </div>
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
        <div class="empty-veesy"></div>
    </div>
</div>